html{
  font-size: 8px;
}
body {
  font-family: 'Cabin';
  font-size: 1.8rem;
  padding-bottom: 100px;
}
h1.title {
  font-size: 58px;
  text-align: center;
  padding-bottom: 15px;
  line-height: 0.7;
}

h1.title em {
  font-size: 28px;
}

nav ul a {
  font-size: 2rem;
}

nav .brand-logo {
  font-size: 3rem;
}

/* Report page */

.pdf-links {
  margin-top: 50px;
  text-align: center;
}

.pdf-links a h4 {
  color: rgba(0,0,0,0.87);
  font-size: 4rem;
  margin-bottom: 20px;
}

.pdf-links img {
  max-width: 100%;
  width: 400px;
  -webkit-box-shadow: 2px 2px 11px 0px rgba(0,0,0,0.33);
  -moz-box-shadow: 2px 2px 11px 0px rgba(0,0,0,0.33);
  box-shadow: 2px 2px 11px 0px rgba(0,0,0,0.33);
}

.pdf-links a {
  opacity: 0.8;
  transition: all 150ms ease;
  display: block;
  margin-bottom: 50px;
}

.pdf-links a:hover {
  opacity: 1;
}

.abstract p {
  font-size: 18px;
}

.title-part {
  text-align: center;
}
